<footer class="flex justify-between items-center bg-white relative z-50 h-20">
  <div class="container mx-auto text-center">
    <div class="flex justify-center">
      <%= link_to 'https://www.instagram.com/paul.portier/' do %>
        <span class="text-2xl px-4 mx-2"><i class="fab fa-instagram"></i></span>
      <% end %>
      <span class="text-2xl px-4 mx-2"><i class="far fa-envelope"></i></span>
    </div>
    <hr class="py-2">
    <p class="text-xs">©2021 | Paul Portier</p>
  </div>
</footer>
