<section class="height-full-navbar-footer flex px-3 py-6 whitespace-nowrap">
  <% @categories.each do |cat| %>
    <div class="w-full px-3 relative">
      <%= cl_image_tag cat.photos.first.image.key, class: 'object-cover w-full h-full' %>
      <%= stimulus_link_to url: cat.show_url, css_classes: "relative" do %>
        <div class="absolute transform left-2/4 top-2/4 -translate-x-2/4 -translate-y-2/4
                    rounded-full backdrop-blur h-1/2 w-1/2
                    flex flex-col justify-center z-40 opacity-80 transition-all
                    hover:opacity-100 duration-300 cursor-pointer">
          <div class="flex justify-center">
            <%=
              inline_svg_pack_tag "images/logo.svg",
              class: 'h-10 md:h-20',
              data: {
                controller: 'inline-svg',
                'svg-class' => 'fill-current text-white'
              }
            %>
          </div>
          <span class="text-3xl md:text-4xl text-center font-thin text-white mt-1 md:mt-3">
            <%= cat.title.upcase %>
          </span>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
