.modal {
  overflow: hidden;
  .elements {
    opacity: 0;
    transform: translate(100%, 0);
  }
}

.modal-illustrations {
  max-width: 3rem;
}

#close-modal {
  width: 100%;
  position: absolute;
  top: 0;
  height: 15%;
  z-index: 70;
  cursor: pointer;
  // transition: background-color ease 1350ms;
  display: flex;
  justify-content: end;
  text-align: end;
  // background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0.1) 100%);
  &:hover {
    // background-color:  rgba(255,255,255,0.4);
  }
  i {
    font-size: 2rem;
  }
}

#close-modal-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 15%;
  z-index: 70;
  cursor: pointer;
  transition: all ease 350ms;
  opacity: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0.1) 100%);
  &:hover {
    opacity: 1;
  }
}

.navigate-modal {
  width: 33%;
  position: absolute;
  height: 100vh;
  z-index: 69;
  cursor: pointer;
  transition: all ease 350ms;
  opacity: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  &:hover {
    opacity: 1;
  }
  &.left {
    left: 0;
    bottom: 0;
    background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0.1) 100%);
    i {
      width: 30%;
    }
  }
  &.right {
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 75%, rgba(0,0,0,0.1) 100%);
    i {
      width: 30%;
      margin: 0 0 0 auto;
    }
  }
}

.appear {
  animation: appear 750ms forwards ease;
}
.disappear {
  animation: disappear 750ms forwards ease;
}
.appear-without-translate {
  animation: appearWithoutTranslate 500ms forwards ease;
}
.disappear-without-translate {
  animation: disappearWithoutTranslate 500ms forwards ease;
}
.appear-from-top {
  animation: slideFromTop 750ms forwards ease;
}
.appear-from-right {
  animation: slideFromRight 750ms forwards ease;
}
.appear-from-left {
  animation: slideFromLeft 750ms forwards ease;
}
.disappear-to-top {
  animation: slideToTop 750ms forwards ease;
}
.disappear-to-left {
  animation: slideToLeft 750ms forwards ease;
}
.disappear-to-right {
  animation: slideToRight 750ms forwards ease;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes appearWithoutTranslate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 0);
  }
}

@keyframes disappearWithoutTranslate {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes slideFromTop {
  0% {
    opacity: 0;
    transform: translate(0, -30%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translate(100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translate(-100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slideToTop {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, -30%);
  }
}

@keyframes slideToLeft {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-100%, 0);
  }
}

@keyframes slideToRight {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(100%, 0);
  }
}
