<div class="min-h-screen flex flex-col justify-center" data-controller="grid">
  <div class="flex flex-wrap justify-around p-1/12 mx-auto" data-grid-target="wrapper">
    <% @photos.each do |photo| %>
      <%= render 'photos/photo_card', photo: photo %>
    <% end %>
  </div>
</div>
